<!-- only works on pages -->

<div class="container">
    <label class="toggle_label">
        <input type="checkbox" id="mode" class="toggle">
        <span class="slider round">
            <i class="fa-solid fa-moon fa-lg fa-spin moon"></i>
            <i class="fa-solid fa-sun fa-spin fa-lg sun"></i>
        </span>
    </label>
    <p id="theme"></p>
</div>

<script src="{{site.baseurl}}/assets/js/toggleDarkMode.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/toggle_dark_mode.css">